general {
    lock_cmd = /home/diego/.config/hypr/scripts/lock.sh
    before_sleep_cmd = /home/diego/.config/hypr/scripts/lock.sh
    after_sleep_cmd = hyprctl dispatch "hl.dsp.dpms('on')"
    inhibit_sleep = 1
}

listener {
    timeout = 300
    on-timeout = /home/diego/.config/hypr/scripts/lock.sh
}

listener {
    timeout = 360
    on-timeout = hyprctl dispatch "hl.dsp.dpms('off')"
    on-resume = hyprctl dispatch "hl.dsp.dpms('on')"
}
